# Start command: composer update --classmap-authoritative && vendor/bin/phpstan analyze

includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: max
    inferPrivatePropertyTypeFromConstructor: true
    paths:
        - %currentWorkingDirectory%/src/
    excludes_analyse:
        - %currentWorkingDirectory%/tests/*
        - %currentWorkingDirectory%/src/Services/Dice/Dice.php

#    autoload_files:
        - plugin.php

    ignoreErrors:
