# Start command: composer update --classmap-authoritative && vendor/bin/phpstan analyze

includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: max
    inferPrivatePropertyTypeFromConstructor: true
    paths:
        - %currentWorkingDirectory%/src/
    excludes_analyse:
        - %currentWorkingDirectory%/tests/*
    bootstrapFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
